BasedOnStyle: google

ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4

AlwaysBreakAfterDefinitionReturnType: true
IndentCaseLabels: false
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

ColumnLimit: 100
